@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap");
@-webkit-keyframes color-change-2x {
  0% {
    background: #430468;
  }
  100% {
    background: #003153;
  }
}
@keyframes color-change-2x {
  0% {
    background: #430468;
  }
  100% {
    background: #003153;
  }
}

/* base styles */
body {
  font-family: Raleway, sans-serif;
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  -webkit-animation: color-change-2x 4s linear infinite alternate both;
  animation: color-change-2x 4s linear infinite alternate both;
}
